[Desktop Entry]
Version=0.1b
Encoding=UTF-8
Name=Draftman2
Comment=A minimalist first-draft management system
Exec=@prefix@/draftman2/draftman2
Icon=@prefix@/draftman2/icon/draftman2.png
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;
