[Desktop Entry]
Version=2.0.5
Encoding=UTF-8
Name=Draftman2
Comment=A minimalist first-draft management system
Exec=/home/jsseidel/git/draftman2/draftman2_py_run
Icon=/home/jsseidel/git/draftman2/icon/draftman2.png
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Office;
