[Desktop Entry]
Version=2.0.1
Encoding=UTF-8
Name=Draftman2
Comment=A minimalist first-draft management system
Exec=/opt/draftman2/lib/Draftman2-2.0.1/draftman2_run
Icon=/opt/draftman2/lib/Draftman2-2.0.1/icon/draftman2.png
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Office;
