Source: draftman2
Section: text
Priority: optional
Maintainer: Joseph Spencer Seidel <jsseidel@fastmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://jsseidel.github.io/draftman2/

Package: draftman2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Draftman2 is a draft-management tool for writers
 Draftman2 is an organizational tool for writers. Although
 designed with creative writers in mind, Draftman2 is useful
 for any long-form writing project.
 Features:
 - Free and open source
 - Cross platform
 - Minimalist
 - Bring your own editor
 -Markdown/plain-text based

